
/* bg images on page */
footer{
	height: 200px;
	background-repeat: no-repeat;
	background-size: 100%;}
#home footer   {background-image: url(../img/bg_home.jpg) !important;}
#advise footer   {background-image: url(../img/bg_advise.jpg) !important;}
#shopping footer {background-image: url(../img/bg_shop.jpg) !important;}
#cafes footer {background-image: url(../img/bg_cafe.jpg) !important;}
#bringing footer {background-image: url(../img/bg_bring.jpg) !important;}
#phrasebook footer {background-image: url(../img/bg_book.jpg) !important;}
#taxi footer {background-image: url(../img/bg_taxi.jpg) !important;}
#hotels footer {background-image: url(../img/bg_hotel.jpg) !important;}
#about footer {background-image: url(../img/bg_imaguru.jpg) !important;}



/* table pseudo */
.ui-block-a, .ui-block-b, .ui-block-c {
	border-top: 1px solid lightgray;
	margin-top: 10px;
	padding-top: 10px;}
.ui-block-a, .ui-block-c {font-weight: bold;}



/* list line-space more */
.justtext li {line-height: 2em;}

/* thumb to right, disable jqm behavior */
img.listthumb {
	padding: 20px 10px 0 10px;
	right: 0;
}
.ui-listview > li.ui-first-child img:first-child {left: auto;}
.ui-listview .ui-li-has-thumb > img:first-child {left: auto;}
.ui-listview > .ui-li-static.ui-li-has-thumb {padding-left: 1em; padding-right: 6.25em; }

/* jqmobile default wrap-none - fix*/
/* BUG - need stay at last position - else broke other rules*/
.ui-listview > li p {white-space : normal;}​
